<div class="mat-elevation-z1">
    <div class="main-wrapper">
        <app-filter
            [fields]="filterFields"
            (filterApplied)="search($event)"
        ></app-filter>
        <div class="table-container">
            <div class="header">
                <h2>Apartments</h2>
                <button
                    mat-raised-button
                    color="primary"
                    class="newbtn"
                    [routerLink]="['/apartments/new']"
                >
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </div>

            <table
                *ngIf="apartments.length > 0"
                mat-table
                [dataSource]="apartments"
                matSort
                (matSortChange)="sortChange($event)"
                class="mat-elevation-z8"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        {{ apartment.id }}
                    </td>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Number
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        {{ apartment.number }}
                    </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="apartmentType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Type
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        {{ apartment.apartmentType }}
                    </td>
                </ng-container>

                <!-- Area Column -->
                <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Area
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        {{ apartment.area }} m2
                    </td>
                </ng-container>

                <!-- Capacity Column -->
                <ng-container matColumnDef="capacity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Capacity
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        {{ apartment.capacity }}
                    </td>
                </ng-container>

                <!-- Floor No Column -->
                <ng-container matColumnDef="floorNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Floor No
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        {{ apartment.floorNumber }}
                    </td>
                </ng-container>

                <!-- Contracts No Column -->
                <ng-container matColumnDef="nrContracts">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Contracts No
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        {{ apartment.nrContracts }}
                    </td>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="hasKitchen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Kitchen
                    </th>
                    <td mat-cell *matCellDef="let apartment">
                        <mat-icon *ngIf="apartment.hasKitchen"
                            >check_box</mat-icon
                        >
                        <mat-icon *ngIf="!apartment.hasKitchen"
                            >disabled_by_default</mat-icon
                        >
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let apartment">
                        <button
                            mat-icon-button
                            [routerLink]="['/apartments', apartment.id, 'view']"
                        >
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            [routerLink]="['/apartments', apartment.id, 'edit']"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            (click)="deleteApartment(apartment)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Define the columns -->
                <tr mat-header-row *matHeaderRowDef="apartmentsColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: apartmentsColumns"
                ></tr>
            </table>
            <mat-paginator
                *ngIf="apartments.length > 0"
                [length]="totalElements"
                [pageSize]="pageSize"
                [pageIndex]="page"
                showFirstLastButtons
                [pageSizeOptions]="pageSizeOptions"
                aria-label="Select page"
                (page)="handlePagination($event)"
            >
            </mat-paginator>
        </div>
    </div>

    <div *ngIf="apartments.length === 0" class="mat-elevation-z8">
        <mat-card>
            <mat-card-header> No data available</mat-card-header>
        </mat-card>
    </div>
</div>
