<div class="mat-elevation-z1">
    <div class="main-wrapper">
        <app-filter
            [fields]="filterFields"
            (filterApplied)="search($event)"
        ></app-filter>
        <div class="table-container">
            <div class="header">
                <h2>Elevators</h2>
                <button
                    mat-raised-button
                    color="primary"
                    class="newbtn"
                    [routerLink]="['/elevators/new']"
                >
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </div>

            <table
                *ngIf="elevators.length > 0"
                mat-table
                [dataSource]="elevators"
                matSort
                (matSortChange)="sortChange($event)"
                class="mat-elevation-z8"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let elevator">
                        {{ elevator.id }}
                    </td>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Number
                    </th>
                    <td mat-cell *matCellDef="let elevator">
                        {{ elevator.number }}
                    </td>
                </ng-container>

                <!-- Building Number Column -->
                <ng-container matColumnDef="buildingNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Building Number
                    </th>
                    <td mat-cell *matCellDef="let elevator">
                        {{ elevator.buildingNumber }}
                    </td>
                </ng-container>

                <!-- Capacity Column -->
                <ng-container matColumnDef="capacity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Capacity
                    </th>
                    <td mat-cell *matCellDef="let elevator">
                        {{ elevator.capacity }} persons
                    </td>
                </ng-container>

                <!-- Max Weight Column -->
                <ng-container matColumnDef="maxWeight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Max Weight
                    </th>
                    <td mat-cell *matCellDef="let elevator">
                        {{ elevator.maxWeight }} kg
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let elevator">
                        <button
                            mat-icon-button
                            [routerLink]="['/elevators', elevator.id, 'view']"
                        >
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            [routerLink]="['/elevators', elevator.id, 'edit']"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            (click)="deleteElevator(elevator)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Define the columns -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
            <mat-paginator
                [length]="totalElements"
                [pageSize]="pageSize"
                [pageIndex]="page"
                showFirstLastButtons
                [pageSizeOptions]="pageSizeOptions"
                aria-label="Select page"
                (page)="handlePagination($event)"
            >
            </mat-paginator>
        </div>
    </div>

    <div *ngIf="elevators.length === 0" class="mat-elevation-z8">
        <mat-card>
            <mat-card-header> No data available</mat-card-header>
        </mat-card>
    </div>
</div>
