<div class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Parking Spot
                <span *ngIf="isEditMode">{{
                    parkingSpotId
                }}</span></mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <form
                role="form"
                [formGroup]="parkingSpotForm"
                (ngSubmit)="onSubmit()"
            >
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Number</mat-label>
                        <input
                            matInput
                            type="text"
                            name="number"
                            id="number"
                            formControlName="number"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <input
                            matInput
                            type="text"
                            name="description"
                            id="description"
                            formControlName="description"
                        />
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width" *ngIf="!isEditMode">
                        <mat-label>Parking Floor</mat-label>
                        <input
                            type="text"
                            matInput
                            formControlName="parkingFloor"
                            name="parkingFloor"
                            id="parkingFloor"
                            [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                            autoActiveFirstOption
                            #auto="matAutocomplete"
                            [displayWith]="displayParkingFloor"
                        >
                            <mat-option
                                *ngFor="
                                    let parkingFloor of filteredParkingFloors
                                        | async
                                "
                                [value]="parkingFloor"
                                >{{ parkingFloor.number }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Price</mat-label>
                        <input
                            matInput
                            type="number"
                            name="price"
                            id="price"
                            formControlName="price"
                        />
                    </mat-form-field>
                </div>

                <div class="button-container">
                    <button
                        mat-raised-button
                        type="button"
                        color="secondary"
                        (click)="goBack()"
                    >
                        <mat-icon>arrow_back</mat-icon>
                        Back
                    </button>
                    <button
                        mat-raised-button
                        type="submit"
                        color="primary"
                        [disabled]="parkingSpotForm.invalid"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
