<div class="mat-elevation-z1">
    <div class="main-wrapper">
        <app-filter
            [fields]="filterFields"
            (filterApplied)="search($event)"
        ></app-filter>
        <div class="table-container">
            <div class="header">
                <h2>Parking Spots</h2>
                <button
                    mat-raised-button
                    color="primary"
                    class="newbtn"
                    [routerLink]="['/parking-spots/new']"
                >
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </div>

            <table
                *ngIf="parkingSpots.length > 0"
                mat-table
                [dataSource]="parkingSpots"
                class="mat-elevation-z8"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let spot">{{ spot.id }}</td>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef>Number</th>
                    <td mat-cell *matCellDef="let spot">
                        {{ spot.number }}
                    </td>
                </ng-container>

                <!-- Parking Spots Column -->
                <ng-container matColumnDef="parkingFloorsNo">
                    <th mat-header-cell *matHeaderCellDef>ParkingFloor No</th>
                    <td mat-cell *matCellDef="let spot">
                        {{ spot.parkingFloorNumber }}
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let spot">
                        <button
                            mat-icon-button
                            [routerLink]="['/parking-spots', spot.id, 'view']"
                        >
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            [routerLink]="['/parking-spots', spot.id, 'edit']"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteSpot(spot)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Define the columns -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>
    </div>

    <div *ngIf="parkingSpots.length === 0" class="mat-elevation-z8">
        <mat-card>
            <mat-card-header> No data available</mat-card-header>
        </mat-card>
    </div>
</div>
