<div *ngIf="contract">
    <button mat-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Back
    </button>

    <h2>Contract Details</h2>
    <dl>
        <dt>ID: {{ contract.id }}</dt>

        <dt>Number: {{ contract.number }}</dt>

        <dt>Start Date: {{ contract.initialValidDate | formatDate }}</dt>

        <dt>End Date: {{ contract.endValidDate | formatDate }}</dt>

        <dt>Sign Date: {{ contract.signDate | formatDate }}</dt>

        <dt>Fee: {{ contract.fee }}</dt>

        <dt>Apartment No: {{ contract.apartment?.number }}</dt>

        <dt>Parking Spot No: {{ contract.parkingSpot?.number }}</dt>

        <dt>
            Student No: {{ contract.student?.firstName }}
            {{ contract.student?.lastName }} ({{ contract.student?.number }})
        </dt>
        <br />
        <dt>
            Contract File:
            <button
                mat-flat-button
                color="primary"
                (click)="viewFile(contract.id!)"
            >
                <mat-icon>visibility</mat-icon>
                View
            </button>
            &nbsp;
            <button
                mat-flat-button
                color="primary"
                (click)="downloadFile(contract.id!)"
            >
                <mat-icon>download</mat-icon>
                Download
            </button>
        </dt>
    </dl>
</div>

<div *ngIf="!contract">
    <p>Loading...</p>
</div>
