<div class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Contract
                <span *ngIf="isEditMode">{{ contractId }}</span></mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <form
                role="form"
                [formGroup]="contractForm"
                (ngSubmit)="onSubmit()"
            >
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Number</mat-label>
                        <input
                            matInput
                            type="text"
                            name="number"
                            id="number"
                            formControlName="number"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <input
                            matInput
                            type="text"
                            name="description"
                            id="description"
                            formControlName="description"
                        />
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Start Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="startDatePicker"
                            formControlName="initialValidDate"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="startDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>End Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="endDatePicker"
                            formControlName="endValidDate"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="endDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Sign Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="signDatePicker"
                            formControlName="signDate"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="signDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #signDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Fee</mat-label>
                        <input
                            matInput
                            type="number"
                            name="fee"
                            id="fee"
                            formControlName="fee"
                            readonly
                        />
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Apartment</mat-label>
                        <input
                            type="text"
                            matInput
                            formControlName="apartment"
                            name="apartment"
                            id="apartment"
                            [matAutocomplete]="apartment"
                        />
                        <mat-autocomplete
                            autoActiveFirstOption
                            #apartment="matAutocomplete"
                            [displayWith]="displayApartment"
                        >
                            <mat-option
                                *ngFor="
                                    let apartment of filteredApartments | async
                                "
                                [value]="apartment"
                                >{{ apartment.number }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Parking Spot</mat-label>
                        <input
                            type="text"
                            matInput
                            formControlName="parkingSpot"
                            name="parkingSpot"
                            id="parkingSpot"
                            [matAutocomplete]="parkingSpot"
                        />
                        <mat-autocomplete
                            autoActiveFirstOption
                            #parkingSpot="matAutocomplete"
                            [displayWith]="displayParkingSpot"
                        >
                            <mat-option
                                *ngFor="
                                    let parkingSpot of filteredParkingSpots
                                        | async
                                "
                                [value]="parkingSpot"
                                >{{ parkingSpot.number }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Student</mat-label>
                        <input
                            type="text"
                            matInput
                            formControlName="student"
                            name="student"
                            id="student"
                            [matAutocomplete]="student"
                        />
                        <mat-autocomplete
                            autoActiveFirstOption
                            #student="matAutocomplete"
                            [displayWith]="displayStudent"
                        >
                            <mat-option
                                *ngFor="let student of filteredStudents | async"
                                [value]="student"
                                >{{ student.firstName }}
                                {{ student.lastName }} ({{ student.number }})
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <div class="full-width">
                        <mat-label>Contract File</mat-label>
                        <input
                            (change)="onFileChange($event)"
                            type="file"
                            name="file"
                            id="file"
                        />
                    </div>
                    <div class="full-width" *ngIf="isEditMode && hasFile">
                        <mat-label>Contract File</mat-label> &nbsp;
                        <button
                            mat-flat-button
                            color="primary"
                            type="button"
                            (click)="viewFile()"
                        >
                            <mat-icon>visibility</mat-icon>
                            View
                        </button>
                    </div>
                </div>

                <div class="button-container">
                    <button
                        mat-raised-button
                        type="button"
                        color="secondary"
                        (click)="goBack()"
                    >
                        <mat-icon>arrow_back</mat-icon>
                        Back
                    </button>
                    <button
                        mat-raised-button
                        type="submit"
                        color="primary"
                        [disabled]="contractForm.invalid"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
