.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .full-width {
            width: 48%;
        }
    }

    .button-container {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    mat-card {
        max-width: 600px;
        width: 100%;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
