:host {
    display: block;
    min-width: 240px;
    background-color: #3f51b5;
    color: #fff;
}

.logo-container {
    padding: 10px 20px;
    text-align: center;

    h3 {
        font-size: 32px;
        font-family: sans-serif;
    }
}

.list {
    margin-top: 50px;

    .list-item {
        cursor: pointer !important;
        padding: 10px 20px;
        display: flex;
        align-items: center;

        h3 {
            margin-bottom: 0;
            margin-left: 20px;
        }

        &:hover {
            background-color: #3144ae;
        }
    }

    .list-item.active {
        background-color: #1f35af;
    }

    .mat-divider {
        border-color: #fff;
    }
}
