<div class="mat-elevation-z1">
    <div class="main-wrapper">
        <app-filter
            [fields]="filterFields"
            (filterApplied)="search($event)"
        ></app-filter>
        <div class="table-container">
            <div class="header">
                <h2>Contracts</h2>
                <button
                    mat-raised-button
                    color="primary"
                    class="newbtn"
                    [routerLink]="['/contracts/new']"
                >
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </div>

            <table
                *ngIf="contracts.length > 0"
                mat-table
                [dataSource]="contracts"
                matSort
                (matSortChange)="sortChange($event)"
                class="mat-elevation-z8"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.id }}
                    </td>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Number
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.number }}
                    </td>
                </ng-container>

                <!-- startDate Column -->
                <ng-container matColumnDef="initialValidDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Start Date
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.initialValidDate | formatDate }}
                    </td>
                </ng-container>

                <!-- endDate Column -->
                <ng-container matColumnDef="endValidDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        End Date
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.endValidDate | formatDate }}
                    </td>
                </ng-container>

                <!-- signDate Column -->
                <ng-container matColumnDef="signDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Sign Date
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.signDate | formatDate }}
                    </td>
                </ng-container>

                <!-- fee Column -->
                <ng-container matColumnDef="fee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Fee
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.fee }}
                    </td>
                </ng-container>

                <!-- student Column -->
                <ng-container matColumnDef="student">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Student
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.studentEmail }}
                    </td>
                </ng-container>

                <!-- apartment Column -->
                <ng-container matColumnDef="apartment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apartment
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.apartmentNumber }}
                    </td>
                </ng-container>

                <!-- apartment Column -->
                <ng-container matColumnDef="parkingSpot">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Parking Spot
                    </th>
                    <td mat-cell *matCellDef="let contract">
                        {{ contract.parkingSpotNumber }}
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let contract">
                        <button
                            mat-icon-button
                            [routerLink]="['/contracts', contract.id, 'view']"
                        >
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            [routerLink]="['/contracts', contract.id, 'edit']"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            (click)="openModal(contract.id)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Define the columns -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
            <mat-paginator
                *ngIf="contracts.length > 0"
                [length]="totalElements"
                [pageSize]="pageSize"
                [pageIndex]="page"
                showFirstLastButtons
                [pageSizeOptions]="pageSizeOptions"
                aria-label="Select page"
                (page)="handlePagination($event)"
            >
            </mat-paginator>
        </div>
    </div>
    <div *ngIf="contracts.length === 0" class="mat-elevation-z8">
        <mat-card>
            <mat-card-header> No data available</mat-card-header>
        </mat-card>
    </div>
</div>
<app-delete-modal
    *ngIf="opened"
    [item]="'contract'"
    (canceled)="closeModal()"
    (confirmed)="deleteContract()"
></app-delete-modal>
