<div class="mat-elevation-z1">
    <div class="table-container">
        <button
            mat-raised-button
            color="primary"
            class="newbtn"
            [routerLink]="['/contracts/new']"
        >
            <mat-icon>add</mat-icon>
            New
        </button>
        <table
            *ngIf="contracts.length > 0"
            mat-table
            [dataSource]="contracts"
            class="mat-elevation-z8"
        >
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let contract">{{ contract.id }}</td>
            </ng-container>

            <!-- Number Column -->
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>Number</th>
                <td mat-cell *matCellDef="let contract">
                    {{ contract.number }}
                </td>
            </ng-container>

            <!-- startDate Column -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Start Date</th>
                <td mat-cell *matCellDef="let contract">
                    {{ contract.initialValiDate | formatDate }}
                </td>
            </ng-container>

            <!-- endDate Column -->
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef>End Date</th>
                <td mat-cell *matCellDef="let contract">
                    {{ contract.endValidDate | formatDate }}
                </td>
            </ng-container>

            <!-- signDate Column -->
            <ng-container matColumnDef="signDate">
                <th mat-header-cell *matHeaderCellDef>Sign Date</th>
                <td mat-cell *matCellDef="let contract">
                    {{ contract.signDate | formatDate }}
                </td>
            </ng-container>

            <!-- fee Column -->
            <ng-container matColumnDef="fee">
                <th mat-header-cell *matHeaderCellDef>Fee</th>
                <td mat-cell *matCellDef="let contract">
                    {{ contract.fee }}
                </td>
            </ng-container>

            <!-- student Column -->
            <ng-container matColumnDef="student">
                <th mat-header-cell *matHeaderCellDef>Student</th>
                <td mat-cell *matCellDef="let contract">
                    {{ contract.student }}
                </td>
            </ng-container>

            <!-- apartment Column -->
            <ng-container matColumnDef="apartment">
                <th mat-header-cell *matHeaderCellDef>Apartment</th>
                <td mat-cell *matCellDef="let contract">
                    {{ contract.apartment }}
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let contract">
                    <button
                        mat-icon-button
                        [routerLink]="['/contracts', contract.id, 'view']"
                    >
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        [routerLink]="['/contracts', contract.id, 'edit']"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteContract(contract)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Define the columns -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div *ngIf="contracts.length === 0" class="mat-elevation-z8">
        <mat-card>
            <mat-card-header> No data available</mat-card-header>
        </mat-card>
    </div>
</div>
