<div class="mat-elevation-z1">
    <div class="table-container">
        <button
            mat-raised-button
            color="primary"
            class="newbtn"
            [routerLink]="['/floors/new']"
        >
            <mat-icon>add</mat-icon>
            New
        </button>
        <table mat-table [dataSource]="floors" class="mat-elevation-z8">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let floor">{{ floor.id }}</td>
            </ng-container>

            <!-- Number Column -->
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>Number</th>
                <td mat-cell *matCellDef="let floor">
                    {{ floor.number }}
                </td>
            </ng-container>

            <!-- Apartment Column -->
            <ng-container matColumnDef="apartmentNo">
                <th mat-header-cell *matHeaderCellDef>Apartments No</th>
                <td mat-cell *matCellDef="let floor">
                    {{ floor.nrApartments }}
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let floor">
                    <button
                        mat-icon-button
                        [routerLink]="['/floors', floor.id, 'view']"
                    >
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        [routerLink]="['/floors', floor.id, 'edit']"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteFloor(floor)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Define the columns -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>
