<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Forgot password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form
                role="form"
                (ngSubmit)="submit()"
                [formGroup]="forgotPasswordForm"
            >
                <mat-form-field class="full-width">
                    <input
                        matInput
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                        formControlName="email"
                    />
                </mat-form-field>
                <div class="button-container">
                    <button
                        mat-raised-button
                        type="button"
                        color="secondary"
                        (click)="goBack()"
                    >
                        <mat-icon>arrow_back</mat-icon>
                        Back
                    </button>
                    <button
                        mat-raised-button
                        type="submit"
                        color="primary"
                        [disabled]="forgotPasswordForm.invalid"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
