:host {
    margin-bottom: 50px;
}

.filter-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, auto);
}

.form-group {
    mat-form-field {
        width: 100%;
    }
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
        margin-left: 20px;
    }
}
