<div class="home-container">
    <div class="dashboard-tabs">
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab *ngFor="let tab of dashboardTabs" [label]="tab.label">
                <mat-card>
                    <mat-card-content>
                        <h2>{{ tab.label }}</h2>
                        <p>Active: {{ selectedTabData?.nrActive }}</p>
                        <p>Total: {{ selectedTabData?.nrTotal }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="chart-wrapper">
        <div class="filter-container">
            <form role="form" [formGroup]="dateRangeForm">
                <mat-form-field class="period-type">
                    <mat-label>Type</mat-label>
                    <mat-select
                        formControlName="periodType"
                        (valueChange)="onTypeChange($event)"
                    >
                        <mat-option
                            *ngFor="let type of periodTypes"
                            [value]="type"
                            >{{ type }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                    *ngIf="dateRangeForm.get('periodType')!.value === 'Custom'"
                >
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="rangePicker">
                        <input
                            matStartDate
                            placeholder="Start date"
                            formControlName="startDate"
                        />
                        <input
                            matEndDate
                            placeholder="End date"
                            formControlName="endDate"
                        />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="rangePicker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker>
                        <mat-date-range-picker-actions>
                            <button
                                mat-button
                                matDateRangePickerCancel
                                type="button"
                            >
                                Cancel
                            </button>
                            <button
                                type="button"
                                mat-raised-button
                                color="primary"
                                matDateRangePickerApply
                                (click)="applyDateRange()"
                            >
                                Apply
                            </button>
                        </mat-date-range-picker-actions>
                    </mat-date-range-picker>
                </mat-form-field>
            </form>
        </div>
        <div class="chart-container">
            <canvas
                baseChart
                class="chart"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [type]="lineChartType"
            ></canvas>
        </div>
    </div>
</div>
