<div class="home-container">
    <div class="dashboard-tabs">
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab *ngFor="let tab of dashboardTabs" [label]="tab.label">
                <mat-card>
                    <mat-card-content>
                        <h2>{{ tab.label }}</h2>
                        <p>Active: {{ selectedTabData?.nrActive }}</p>
                        <p>Total: {{ selectedTabData?.nrTotal }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
