<div class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title
                >Floor
                <span *ngIf="isEditMode">{{ floorId }}</span></mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <form role="form" [formGroup]="floorForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Number</mat-label>
                        <input
                            matInput
                            type="text"
                            name="number"
                            id="number"
                            formControlName="number"
                        />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Description</mat-label>
                        <input
                            matInput
                            type="text"
                            name="description"
                            id="description"
                            formControlName="description"
                        />
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="!isEditMode">
                    <mat-form-field class="full-width">
                        <mat-label>Building</mat-label>
                        <mat-select
                            formControlName="buildingId"
                            name="buildingId"
                            id="buildingId"
                        >
                            <mat-option>None</mat-option>

                            <mat-option
                                *ngFor="let building of buildings"
                                [value]="building.id"
                                >{{ building.number }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Apartments number</mat-label>
                        <input
                            matInput
                            type="number"
                            name="nrApartments"
                            id="nrApartments"
                            formControlName="nrApartments"
                        />
                    </mat-form-field>
                </div>

                <div class="button-container">
                    <button
                        mat-raised-button
                        type="button"
                        color="secondary"
                        (click)="goBack()"
                    >
                        <mat-icon>arrow_back</mat-icon>
                        Back
                    </button>
                    <button
                        mat-raised-button
                        type="submit"
                        color="primary"
                        [disabled]="floorForm.invalid"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
